@mixin section-color($background, $foreground) {
  background-color: $background;
  color: $foreground;
  a {
    color: $grey-color;
  }
}

@mixin thick-underline($thickness) {
  text-decoration: underline;
  text-decoration-color: $accent-color;
  text-decoration-thickness: $thickness;
  text-underline-position: under;
}

@mixin nav-item {
  font-size: $font-size-sm;
  color: $light-color;
  text-transform: uppercase;
  font-weight: 600;
  // margin: 0 $spacer-sm;
}
