@mixin section-color($background, $foreground) {
  background-color: $background;
  color: $foreground;
  a {
    color: $grey-color;
  }
}

@mixin thick-underline($thickness) {
  text-decoration: underline;
  text-decoration-color: $accent-color;
  text-decoration-thickness: $thickness;
  padding-bottom: $spacer;
}
