#about {
  .profile-pic {
    max-width: 100%;
    max-height: $profile-pic-height;
    border-radius: 50%;
    box-shadow: $profile-pic-shadow;
    margin-right: $spacer-sm;
    margin-top: $spacer-sm;
  }
  .bold {
    font-weight: 700;
  }

  .section-header {
    padding: $spacer;
  }

  #bio {
    // padding: $spacer-sm;
  }

  #about-content {
    margin: 0 auto;
    margin-top: $spacer-lg;
    line-height: 1.6rem;
    padding: $spacer;
    border-radius: 3px;
    max-width: 40rem;
  }

  #facts {
    margin: $spacer;
  }

  .frosted-card {
    background-color: rgba(199, 199, 199, 0.4);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* For the fog-like glass effect */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: $border-thickness solid rgba($accent-color, 0.3);
  }
}
