#about {
  .profile-pic {
    max-width: 100%;
    max-height: $profile-pic-height;
    border-radius: 50%;
    box-shadow: $profile-pic-shadow;
    margin-right: $spacer-sm;
    margin-top: $spacer-sm;
  }

  .section-header {
    padding: $spacer;
  }

  #bio {
    // padding: $spacer-sm;
  }

  #about-content {
    margin: 0 auto;
    margin-top: $spacer-lg;
    line-height: 1.6rem;
    padding: $spacer;
    border-radius: 3px;
    max-width: 40rem;
  }

  #facts {
    margin: $spacer;
  }
}
