// styling specific to the #contact section
#contact {
  .social-item {
    padding: 0 0.5rem;
  }

  ul {
    margin-top: $spacer;
  }

  .contact-content {
    // padding: $spacer-sm;
    margin-top: $spacer;
  }

  .arrow-container {
    padding: $spacer-sm;
  }

  .section-heading {
    padding: 0;
    margin: 0;
  }

  .contact-form {
    margin-top: $spacer;
    button {
      width: 100%;
    }
  }

  .frosted-card {
    background-color: rgba(0, 0, 0, 0.4);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    /* For the fog-like glass effect */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: $border-thickness solid rgba($accent-color, 0.3);
  }
}
