// styling specific to the #contact section
#contact {
  .social-item {
    padding: 0 0.5rem;
  }

  ul {
    margin-top: $spacer;
  }

  .contact-content {
    // padding: $spacer-sm;
    margin-top: $spacer;
  }

  .arrow-container {
    padding: $spacer-sm;
  }

  .section-header {
    padding: 0;
    margin: 0;
  }

  .contact-form {
    margin-top: $spacer;
    button {
      width: 100%;
    }
  }
}
