// styling specific to the portfolio section
#projects {
  .container-fluid {
    margin: 2rem auto;
  }

  .portfolio-item {
    box-shadow: $box-shadow;
    position: relative;

    a {
      text-decoration: none;
    }

    h3 {
      font-size: 1.2rem;
    }

    img {
      width: 100%;
      display: block;
      border-radius: $border-radius;
    }

    .overlay {
      position: absolute;
      padding: inherit;
      top: 0;
      bottom: 0;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #333333;

      .portfolio-item-content {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow: hidden;
        color: $light-color;
        padding: $spacer;
        margin: 0 auto;
        vertical-align: middle;
      }
    }

    &:hover {
      .overlay {
        opacity: 0.95;
        cursor: pointer;
      }
    }
  }
}
