.arrow-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .arrow-icon {
    margin: 0 auto;
    a {
      color: $light-color;
    }
  }
}

.arrow-icon {
  i {
    position: relative;
    overflow: hidden;
    background: linear-gradient(
      to right,
      $accent-color,
      $accent-color 50%,
      $grey-color 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.5s ease;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background-position: 0 100%;
    }
  }
}
