.btn,
.btn--color {
  background-color: $accent-color;
  border-color: transparent;

  color: $light-color;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($accent-color, 8%);
    color: darken($light-color, 5%);
  }
}

#btn--blog {
  @include nav-item;
}

#resume {
  position: absolute;
  bottom: 0;
  left: 0;
}
