.footer {
  background-color: $dark-bg;
  padding: $spacer-sm;

  p {
    font-size: $font-size-sm;
  }

  #username {
    text-transform: lowercase;
  }

  .social-item {
    i {
      font-size: $social-size;
      padding: 0 $spacer;
    }
  }
}
