section {
  min-height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
  padding: $spacer-sm;

  .container-fluid {
    padding: $spacer-sm;
    margin: $spacer-lg auto;

    .flex-col {
      padding: $spacer-sm;
    }
  }

  .list-group-item {
    background-color: inherit;
  }
}
