*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.light-section {
  @include section-color($light-color, $dark-color);
}

.dark-section {
  @include section-color($dark-color, $light-color);
}

.dark-bg {
  background-color: $dark-bg;
}

.btn,
.btn-resume,
.btn-submit,
.btn-success {
  background-color: $accent-color;
  border-color: transparent;

  color: $light-color;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($accent-color, 8%);
    color: darken($light-color, 5%);
  }
}

.test {
  border: 2px solid red;
}
