*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.light-section {
  @include section-color($light-color, $dark-color);
}

.dark-section {
  @include section-color($dark-color, $light-color);
}

.dark-bg {
  background-color: $dark-bg;
}

.test {
  border: 2px solid red;
}

.responsive-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  max-width: 450px;

  img {
    vertical-align: middle;
    width: 100%;
    height: auto;
  }
}

.background-00 {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, $opacity),
      rgba(0, 0, 0, $opacity)
    ),
    url(../../assets/images/section-background-00.jpg);
  background-attachment: fixed;
}

.background-01 {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, $opacity),
      rgba(0, 0, 0, $opacity)
    ),
    url(../../assets/images/section-background-01.jpg);
  background-attachment: fixed;
}
