// import serif font
@font-face {
  font-family: "Freight Text Bold";
  src: url("../../assets/fonts/Freight Text/Freight Text Bold.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/Freight Text/Freight Text Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/Freight Text/Freight Text Bold.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../assets/fonts/Freight Text/Freight Text Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

html,
body,
#app {
  font-family: $body-font;
  font-weight: 400;
  color: $light-color;
}

// HEADINGS & BODY TEXT

%heading {
  font-family: $heading-font;
}

%subheading {
  text-transform: uppercase;
  color: $grey-color;
  font-family: $body-font;
}

h1 {
  @extend %heading;
}

h2 {
  @extend %subheading;
  font-size: $font-size-lg;
}

h3 {
  @extend %subheading;
  font-size: $font-size-md;
  font-weight: bold;
}

.section-heading {
  @extend %heading;
  @include thick-underline(0.375rem);
  text-align: center;
}

p {
  font-family: $body-font;
  font-size: $font-size-base;
  font-weight: 300;
}

// HERO TEXT

.banner-text {
  .display-text {
    font-size: $title-size;
    color: $light-color;
    text-shadow: 3px 3px #333;
  }

  #greeting {
    color: $accent-color;
    font-weight: bold;
    letter-spacing: -0.03rem;
  }
}

// LINKS

a {
  text-transform: uppercase;
  color: $grey-color;
  &:not(.social-icon) {
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
    &:not(.btn--color) {
      color: $accent-color;
    }
  }
}

.nav-item {
  @include nav-item;
}

// underline effect on hover
.hover-effect {
  position: relative;
  padding-bottom: 0;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0px;
    height: 3px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.25s;
    opacity: 0;
    background-color: $accent-color;
    // background: linear-gradient(
    //   90deg,
    //   rgba(133, 255, 123, 1) 0%,
    //   rgba(3, 149, 125, 1) 100%
    // );
    left: 0;
  }

  &:hover {
    color: $grey-color;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
