@font-face {
  font-family: "Freight Text Bold";
  src: url("../../assets/fonts/Freight Text/Freight Text Bold.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/Freight Text/Freight Text Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/Freight Text/Freight Text Bold.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../assets/fonts/Freight Text/Freight Text Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Freight Sans Book";
  src: url("../../assets/fonts/Freight Text Sans/FreightSansBook.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/Freight Text Sans/FreightSansBook.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../assets/fonts/Freight Text Sans/FreightSansBook.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../assets/fonts/Freight Text Sans/FreightSansBook.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

html,
body,
#app {
  font-family: $body-font;
  font-weight: 400;
  color: $light-color;
}

%heading-font {
  font-family: $heading-font;
}

%uppercase-heading {
  text-transform: uppercase;
  color: $grey-color;
}

h1 {
  @extend %heading-font;
}

h2 {
  @extend %uppercase-heading;
  font-family: $body-font;
  font-size: 1.6rem;
}

h3 {
  @extend %uppercase-heading;
  font-family: $body-font;
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  text-transform: uppercase;
  color: $grey-color;
  &:not(.social-icon) {
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $accent-color;
  }
}

.section-header {
  @include thick-underline(0.375rem);
  text-align: center;
}

.subheading {
  text-align: center;
}

p {
  font-family: $body-font;
  font-weight: 300;
}

.nav-item {
  font-family: $body-font;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $font-size-sm;
  color: $light-color;

  #btn--blog {
    text-transform: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
  }
}

.banner-text {
  color: $light-color;

  .display-text {
    font-size: $title-size;
  }

  .greeting-subtitle {
    color: $accent-color;
    font-weight: bold;
    letter-spacing: -0.03rem;
    font-size: $font-size-lg;
  }
}

.footer {
  font-size: $font-size-sm;
}

.hover-effect {
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0px;
    height: 3px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.25s;
    opacity: 0;
    background-color: $accent-color;
    // background: linear-gradient(
    //   90deg,
    //   rgba(133, 255, 123, 1) 0%,
    //   rgba(3, 149, 125, 1) 100%
    // );
    left: 0;
  }

  &:hover {
    color: $grey-color;
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
