@font-face {
  font-family: "Freight Text Bold";
  src: url("../../assets/fonts/Freight Text/Freight Text Bold.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/Freight Text/Freight Text Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/Freight Text/Freight Text Bold.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../assets/fonts/Freight Text/Freight Text Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Freight Sans Book";
  src: url("../../assets/fonts/Freight Text Sans/FreightSansBook.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/Freight Text Sans/FreightSansBook.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../assets/fonts/Freight Text Sans/FreightSansBook.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../assets/fonts/Freight Text Sans/FreightSansBook.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

html,
body,
#app {
  font-family: $body-font;
  font-weight: 400;
  color: $light-color;
}

%heading-font {
  font-family: $heading-font;
}

%uppercase-heading {
  text-transform: uppercase;
  color: $grey-color;
}

h1 {
  @extend %heading-font;
}

h2 {
  @extend %uppercase-heading;
  font-family: $body-font;
  font-size: 1.5rem;
}

h3 {
  @extend %uppercase-heading;
  font-family: $body-font;
  font-size: 1.1rem;
  font-weight: bold;
}

a {
  text-transform: uppercase;
  color: $grey-color;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $accent-color;
  }
}

.section-header {
  @include thick-underline(0.375rem);
}

p {
  font-family: $body-font;
  font-weight: 300;
}

.nav-item {
  font-family: $body-font;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $font-size-sm;
  color: $light-color;
}

.banner-text {
  color: $light-color;

  .display-text {
    font-size: $title-size;
  }

  .greeting-subtitle {
    color: $accent-color;
    font-weight: bold;
    letter-spacing: -0.03rem;
    font-size: $font-size-lg;
  }
}

.footer {
  font-size: $font-size-sm;
}
